.j-instagram:before {
    content: '\f16d'
}

@font-face {
    font-family: "fontawesome-webfont";
    src: url(//assets.juicer.io/fonts/fontawesome-webfont.eot);
    src: url(//assets.juicer.io/fonts/fontawesome-webfont.eot?#iefix) format("embedded-opentype"), url(//assets.juicer.io/fontawesome-webfont-adbc4f95eb6d7f2738959cf0ecbc374672fce47e856050a8e9791f457623ac2c.woff) format("woff"), url(//assets.juicer.io/fontawesome-webfont-ae19e2e4c04f2b04bf030684c4c1db8faf5c8fe3ee03d1e0c409046608b38912.ttf) format("truetype"), url(//assets.juicer.io/fontawesome-webfont-e0d04e3fed3df6f5d84bc45d9b96279e7177b1b8c3d18d567af75af5997ff73b.svg#fontawesome-webfont) format("svg");
    font-weight: normal;
    font-style: normal
}
.juicer-feed h1.referral a:after,
.j-overlay .j-close {
    text-indent: -9999px;
    display: block;
    background-repeat: no-repeat;
    background-image: url(//assets.juicer.io/embed-se36aebe323-e0ef2ff1ddf423c2dfefd7363696ac52ad6638ddbd5ffcd57685ab008b1fdf4a.png)
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 3 / 2),
(min-device-pixel-ratio: 2) {
.juicer-feed h1.referral a:after,
    .j-overlay .j-close {
        background-image: url(//assets.juicer.io/embed-retina-s4adc3db9d6-b061af77b3ed4a4ec0703b225dd33167df8aa5fbb21b7eefd38faba85b861696.png)
    }
}

@media all and (max-width: 1000px) {}

.j-loading {
    -moz-animation: loader 2s infinite ease;
    -webkit-animation: loader 2s infinite ease;
    animation: loader 2s infinite ease;
    width: 30px;
    height: 30px;
    border: 4px solid #00AAFF;
    margin: 0 auto;
    font-size: 0;
    color: transparent
}

.j-loading:before {
    -moz-animation: loader-inner 2s infinite ease-in;
    -webkit-animation: loader-inner 2s infinite ease-in;
    animation: loader-inner 2s infinite ease-in;
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #00AAFF;
    content: ''
}

@-moz-keyframes loader {
    0% {
        transform: rotate(0deg)
    }
    25% {
        transform: rotate(180deg)
    }
    50% {
        transform: rotate(180deg)
    }
    75% {
        transform: rotate(360deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

@-webkit-keyframes loader {
    0% {
        transform: rotate(0deg)
    }
    25% {
        transform: rotate(180deg)
    }
    50% {
        transform: rotate(180deg)
    }
    75% {
        transform: rotate(360deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

@keyframes loader {
    0% {
        transform: rotate(0deg)
    }
    25% {
        transform: rotate(180deg)
    }
    50% {
        transform: rotate(180deg)
    }
    75% {
        transform: rotate(360deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

@-moz-keyframes loader-inner {
    0% {
        height: 0%
    }
    25% {
        height: 0%
    }
    50% {
        height: 100%
    }
    75% {
        height: 100%
    }
    100% {
        height: 0%
    }
}

@-webkit-keyframes loader-inner {
    0% {
        height: 0%
    }
    25% {
        height: 0%
    }
    50% {
        height: 100%
    }
    75% {
        height: 100%
    }
    100% {
        height: 0%
    }
}

@keyframes loader-inner {
    0% {
        height: 0%
    }
    25% {
        height: 0%
    }
    50% {
        height: 100%
    }
    75% {
        height: 100%
    }
    100% {
        height: 0%
    }
}

.juicer-feed {
    *zoom: 1;
    -moz-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    position: relative;
    margin: 0 auto !important;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
    line-height: 1.4
}

.juicer-feed:after {
    content: "";
    display: table;
    clear: both
}

.juicer-feed * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.juicer-feed.loaded {
    visibility: visible;
    opacity: 1
}

.juicer-feed .j-loading-wrapper {
    margin: 50px auto
}

.juicer-feed h1.referral {
    position: absolute;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin: 0 auto 30px;
    text-align: center;
    white-space: nowrap;
    z-index: 3;
    right: 0;
    background-color: rgba(32,61,76,.9);
    padding: .5rem;
}

.juicer-feed h1.referral a {
    color: #53707F;
    display: inline-block;
    border: none;
}

.juicer-feed h1.referral a:after {
    height: 25px;
    width: 14px;
    background-position: 100% -64px;
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    position: relative;
    top: -1px
}
.juicer-feed h1.referral a:after, .j-overlay .j-close {
    filter: sepia(1) hue-rotate(180deg) opacity(.6);
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 3 / 2),
(min-device-pixel-ratio: 2) {
    .juicer-feed h1.referral a:after {
        background-position: 100% -128px;
        -moz-background-size: 14px auto;
        -o-background-size: 14px auto;
        -webkit-background-size: 14px auto;
        background-size: 14px auto;
        background-position: 100% -64px
    }
}

@media all and (max-width: 500px) {}
.juicer-feed.slider li.feed-item {
    padding: 0
}
.juicer-feed.slider li.feed-item:hover .j-text {
    visibility: visible;
    opacity: 1
}
.juicer-feed.slider .j-text {
    -moz-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    opacity: 0;
    visibility: hidden;
    background: rgba(32,61,76,.7);
    text-align: center;
    position: absolute;
    padding: 2.2rem;
    top: 0;
    left: 0;
    height: 100%;
    width: 9r0%;
    z-index: 2;
    overflow: hidden
}
.juicer-feed.slider .j-text:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle
}
.juicer-feed.slider .j-text .j-message {
    display: inline-block;
    vertical-align: middle;
    max-height: 90%;
    overflow: hidden;
    width: 100%
}
.juicer-feed.slider .j-text .j-message p {
    margin: 0 0 10px 0;
    word-break: break-word;
}
.juicer-feed.slider .j-text .j-message p:last-of-type {
    margin: 0
}
.juicer-feed.slider .j-meta {
    position: absolute;
    bottom: 0;
    width: 90%;
    padding: 5px 7px;
    margin: 25px -5% 0;
    text-align: left
}
.j-meta a, .j-navigate a {
    border: none;
}
.juicer-feed.slider .j-poster {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    height: auto;
    opacity: 0;
    visibility: hidden
}
.juicer-feed.slider .j-poster h3,
.juicer-feed.slider .j-poster .j-date,
 {
    color: #bababa
}

.juicer-feed.slider {
    position: relative
}

.juicer-feed.slider li.feed-item {
    display: block
}

.juicer-feed.slider li.feed-item a.j-image {
    width: 100%;
    overflow: hidden;
    display: block;
    position: relative
}

.juicer-feed.slider li.feed-item a.j-image img {
    width: 100%
}

.juicer-feed.slider .slick-track {
    overflow: hidden
}

.juicer-feed.slider.j-modern li.feed-item a.j-image img {
    -moz-transform: none;
    -ms-transform: none;
    -webkit-transform: none;
    transform: none;
    object-fit: cover
}

@media all and (max-width: 500px) {}

.juicer-feed li.feed-item {
    position: relative;
    width: 100%;
    text-align: left;
    margin: 0;
    list-style-type: none;
    display: block
}

.juicer-feed li.feed-item:before {
    content: ''
}

@media all and (max-width: 500px) {}

.juicer-feed .j-meta {
    margin-top: 25px
}

.juicer-feed .j-meta a {
    color: #bababa
}

.juicer-feed .j-meta a:hover {
    color: #00AAFF
}

.juicer-feed .j-meta ul {
    display: inline-block;
    width: auto !important;
    padding: 0;
    margin: 0;
    font-size: 1em;
    line-height: 1em;
    float: none
}

.juicer-feed .j-meta li {
    display: inline-block;
    margin: 0 10px 0 0;
    padding: 0;
    background-image: none;
    border: none;
    font-size: 1em;
    font-weight: normal;
    height: auto;
    width: auto
}

.juicer-feed .j-meta li:last-of-type {
    margin-right: 0
}

.juicer-feed .j-meta nav {
    display: inline-block;
    float: right;
    border: none;
    background: transparent;
    position: relative;
    width: auto;
    height: auto
}

.juicer-feed .j-meta a {
    background: transparent;
    width: auto;
    height: auto;
    float: none
}

.juicer-feed .j-meta a.j-social {
    font-size: 1.5em;
    line-height: 1;
    float: none;
    margin: 0
}

.juicer-feed .j-meta a:before {
    font-family: "fontawesome-webfont", Helvetica, Arial, sans-serif;
    font-size: 1em;
    margin-right: 5px
}

.juicer-feed .j-meta a.comments:before {
    content: '\f086'
}

.juicer-feed .j-meta a.heart:before {
    content: '\f004'
}

.juicer-feed a {
    -moz-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}

.juicer-feed video::-internal-media-controls-download-button {
    display: none
}

.juicer-feed video::-webkit-media-controls-enclosure {
    overflow: hidden
}

.juicer-feed video::-webkit-media-controls-panel {
    width: calc(100% + 30px)
}

.j-poster {
    overflow: hidden;
    *zoom: 1;
    margin: 0 0 10px 0;
    height: 30px
}

.j-poster img {
    float: left;
    width: 30px !important;
    margin: 0 7px 0 0;
    padding: 0
}

.j-poster a {
    color: #3A3A3A
}

.j-poster a:hover {
    color: #00AAFF
}

.j-poster h3 {
    float: left;
    margin: 4px 0 0 0;
    padding: 0;
    font-size: 14px;
    font-weight: bold;
    max-width: 67%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    clear: none;
    color: #3A3A3A;
    line-height: 20px
}

.j-poster .j-date {
    float: right;
    font-size: 14px;
    margin-top: 4px;
    color: #a0a0a0
}

.j-post-overlay.juicer-feed {
    overflow: hidden;
    *zoom: 1;
    margin: 0 !important
}

.j-post-overlay.juicer-feed .image {
    float: left;
    max-width: 50%
}

.j-post-overlay.juicer-feed .image img {
    margin-bottom: 0 !important;
    display: block;
    width: 100%
}

.j-post-overlay.juicer-feed .j-overlay-text {
    overflow: hidden;
    padding: 25px
}

.j-post-overlay.juicer-feed .j-overlay-text .j-message {
    margin-bottom: 25px;
    text-align: left
}

.j-post-overlay.juicer-feed .j-bottom {
    overflow: hidden;
    *zoom: 1
}

.j-post-overlay.juicer-feed .j-meta {
    margin: 15px 0 30px
}

.j-post-overlay.juicer-feed .j-meta nav {
    display: none
}

.j-post-overlay.juicer-feed a.juicer-button {
    float: left;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    border: 2px solid #00AAFF;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: #00AAFF;
    text-align: center;
    padding: 12px 0 10px;
    cursor: pointer;
    background-color: transparent;
    padding: 12px 35px 14px
}

.j-post-overlay.juicer-feed a.juicer-button:hover {
    background: #00AAFF;
    color: #F2F2F2
}

.j-post-overlay.juicer-feed a.juicer-button:before {
    font-family: "fontawesome-webfont", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    position: relative;
    left: -10px;
    top: 1px;
    font-weight: normal
}

@media all and (max-width: 1190px) {
    .j-post-overlay.juicer-feed a.juicer-button {
        margin-bottom: 10px
    }
}

.j-post-overlay.juicer-feed ul.j-share {
    display: none;
}

.j-post-overlay.juicer-feed .j-navigate {
    position: absolute;
    bottom: 5px;
    right: 5px
}

.j-post-overlay.juicer-feed .j-navigate a.j-previous,
.j-post-overlay.juicer-feed .j-navigate a.j-next {
    cursor: pointer;
    color: #bababa
}

.j-post-overlay.juicer-feed .j-navigate a.j-previous span,
.j-post-overlay.juicer-feed .j-navigate a.j-next span {
    display: none
}

.j-post-overlay.juicer-feed .j-navigate a.j-previous:before,
.j-post-overlay.juicer-feed .j-navigate a.j-next:before {
    font-family: "fontawesome-webfont", Helvetica, Arial, sans-serif;
    font-size: 16px
}

.j-post-overlay.juicer-feed .j-navigate a.j-previous {
    margin-right: 5px
}

.j-post-overlay.juicer-feed .j-navigate a.j-previous:before {
    content: '\f053'
}

.j-post-overlay.juicer-feed .j-navigate a.j-next:before {
    content: '\f054'
}

@media all and (max-width: 800px) {
    .j-post-overlay.juicer-feed .image {
        float: none;
        display: block;
        max-width: 100%
    }
    .j-post-overlay.juicer-feed .j-navigate {
        position: relative;
        bottom: 0;
        right: 0;
        margin-top: 15px
    }
    .j-post-overlay.juicer-feed .j-navigate .j-next {
        float: right
    }
}

.j-overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    padding-top: 50px;
    z-index: 99999999;
    outline: none
}

.j-overlay .j-overlay-content {
    margin: 0 auto;
    background: white;
    position: relative;
    color: #3A3A3A;
    font-weight: normal;
    max-height: 90%;
    overflow-y: auto;
    outline: none;
    max-width: 980px
}

@media all and (max-width: 800px) {
    .j-overlay .j-overlay-content {
        width: 95% !important
    }
}

.j-overlay .j-close {
    height: 12px;
    width: 12px;
    background-position: 100% -32px;
    cursor: pointer;
    position: absolute;
    top: 4px;
    right: 4px;
    z-index: 3;
    text-align: right;
    padding: 15px;
    border: none;
}

.j-overlay .j-close:hover {
    background-position: 100% 0
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 3 / 2),
(min-device-pixel-ratio: 2) {
    .j-overlay .j-close {
        background-position: 100% -64px;
        -moz-background-size: 14px auto;
        -o-background-size: 14px auto;
        -webkit-background-size: 14px auto;
        background-size: 14px auto;
        background-position: 100% -32px
    }
    .j-overlay .j-close:hover {
        background-position: 100% 0
    }
}

.j-overlay .j-close span {
    display: none
}

.juicer-feed .slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0
}

.juicer-feed .slick-list:focus {
    outline: none
}

.juicer-feed .slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block
}

.juicer-feed .slick-track:before,
.juicer-feed .slick-track:after {
    content: "";
    display: table
}

.juicer-feed .slick-track:after {
    clear: both
}

.juicer-feed .slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none
}

.juicer-feed .slick-slide img {
    display: block
}

.juicer-feed .j-facebook {
    background: #3B5998
}

.juicer-feed .j-facebook:before {
    content: "š"
}

.juicer-feed .j-twitter {
    background: #55ACEE
}

.juicer-feed .j-twitter:before {
    content: "™"
}

.juicer-feed .j-instagram {
    background: #3F729B
}

.juicer-feed .j-instagram:before {
    content: '\f16d'
}

.juicer-feed .j-googleplus {
    background: #DD4B39
}

.juicer-feed .j-googleplus:before {
    content: "Õ"
}

.juicer-feed .j-pinterest {
    background: #CB2028
}

.juicer-feed .j-pinterest:before {
    content: "Ò"
}

.juicer-feed .j-linkedin {
    background: #007bb6
}

.juicer-feed .j-linkedin:before {
    content: "á"
}

.juicer-feed .j-email {
    background: #00AAFF
}

.juicer-feed .j-email:before {
    content: "à"
}

.juicer-feed .j-googleplus:before {
    position: relative;
    left: -0.15em
}

.juicer-feed .j-email:before {
    position: relative;
    top: -1px !important
}
li.feed-item.juicer.image-post.slick-slide:not(.mjdtz) {
    display: none;
}