* {
	-webkit-margin-before: 0;
  -webkit-margin-after: 0;
  box-sizing: border-box;
}
body {
	margin: 0;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #fff;
	overflow-x: hidden;
}
img {
	width: 100%;
	max-width: 100%;
	display: block;
}
p {
	margin-top: 1.2rem;
	font-size: 1.4rem;
  line-height: 1.3;
}
h1 {
	margin-top: 1rem;
  line-height: 1.1;
  font-size: 2.7rem;
  text-align: center;
  max-width: 20rem;
  margin-left: auto;
  margin-right: auto;
}
h2 {
	font-size: 3rem;
  padding: 2rem;
  font-family: 'Pacifico', cursive;
  margin: 0;
}
h3 {
	font-size: 3rem;
	color: #fff;
  font-family: 'Pacifico', cursive;
  background-image: url(../images/circle-stamp.svg);
  background-repeat: no-repeat;
  padding: 1.8rem 0;
  background-position: center;
  transform: rotate(-8deg);font-family: 'Pacifico', cursive;
  text-align: center;
  line-height: 1;
  margin: 0;
}
h4 {
	font-size: 2rem;
	color: #00AAFF;
	line-height: 1;
	margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-weight: normal;
}
a {
	text-decoration: none;
	border-bottom: 1px dashed #00AAFF;
	font-size: 1.2rem;
  line-height: 1.3;
}
button {
	background-color: #00AAFF;
	border: none;
	color: #fff;
	font-family: 'Open Sans Condensed', sans-serif;
	border-radius: 20px;
	position: relative;
  font-size: 2.5rem;
  font-weight: bold;
  padding: .1rem 1rem;
  margin: 1.5rem;
  transition: background .6s;
}
button:before {
	content: "";
  width: 100%;
  height: 100%;
  padding: 5px;
  left: -5px;
  top: -5px;
  border-radius: 22px;
  border: 1px dashed #00AAFF;
  position: absolute;
}
button:hover {
	background-color: #33DDFF;
}
header {
	background-image: url(../images/3200/lazarus.jpg);
	height: 100vh;
	background-size: cover;
	display: flex;
	background-position: center;
}
.text {
	flex-basis: 33.333%;
	background: url(../images/grunge.svg), rgba(32,61,76,.9);
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 1.5rem;
}
.details {
  flex-basis: 66.666%;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.details strong {
	display: block;
  font-size: 4rem;
  color: #fff;
}
section {
	min-height: 100vh;
	background-size: cover;
	display: flex;
	background-position: center;
}
section:nth-of-type(odd) {
	justify-content: flex-end;
}
.banner {
	background-color: #00AAFF;
  text-align: center;
  border-top: 3px dashed #fff;
  border-bottom: 3px dashed #fff;
}
#need {
	background-image: url(../images/3200/cart.jpg);
}
#sanitation {
	background-image: url(../images/3200/tank.jpg);
}
#agriculture {
	background-image: url(../images/3200/garden.jpg);
	background-position-y: top; 
}
#building {
	background-image: url(../images/3200/building.jpg);
}
#community {
	background-image: url(../images/3200/buckets.jpg);
	background-position-y: top; 
}
#donate {
	background-color: rgba(32,61,76,.9);
}
#fundraiser {
	background-image: url(../images/shirt.jpg);
}
footer {
	display: flex;
	background-color: #072433;
	color: #53707F;
	padding: 1rem;
	align-items: center;
	justify-content: flex-end;
	flex-wrap: wrap;
}
footer > * {
	margin: 0 1rem;
}
footer a {
	color: #53707F;
	flex: 0;
}
footer svg {
	fill: #53707F;
	width: 5rem;
}
.affiliate {
	border: none;
}
#be-logo {
	width: 3rem;
}

@media screen and (max-width: 1500px) { 
  header {
		background-image: url(../images/1600/lazarus.jpg);
	}
	#need {
		background-image: url(../images/1600/cart.jpg);
	}
	#sanitation {
		background-image: url(../images/1600/tank.jpg);
	}
	#agriculture {
		background-image: url(../images/1600/garden.jpg);
		background-position-y: top; 
	}
	#building {
		background-image: url(../images/1600/building.jpg);
	}
	#community {
		background-image: url(../images/1600/buckets.jpg);
		background-position-y: top; 
	}
}
@media screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1500px), screen and (min-resolution: 192dpi) and (max-width: 1500px) { 
  header {
		background-image: url(../images/3200/lazarus.jpg);
	}
	#need {
		background-image: url(../images/3200/cart.jpg);
	}
	#sanitation {
		background-image: url(../images/3200/tank.jpg);
	}
	#agriculture {
		background-image: url(../images/3200/garden.jpg);
		background-position-y: top; 
	}
	#building {
		background-image: url(../images/3200/building.jpg);
	}
	#community {
		background-image: url(../images/3200/buckets.jpg);
		background-position-y: top; 
	}
}
@media screen and (max-width: 800px) { 
  header {
		background-image: url(../images/800/lazarus.jpg);
	}
	#need {
		background-image: url(../images/800/cart.jpg);
		background-position-y: -30%;
	}
	#sanitation {
		background-image: url(../images/800/tank.jpg);
		background-position-x: right;
		background-position-y: -30%;
	}
	#agriculture {
		background-image: url(../images/800/garden.jpg);
		background-position-y: top; 
	}
	#building {
		background-image: url(../images/800/building.jpg);
		background-position-x: right; 
	}
	#community {
		background-image: url(../images/800/buckets.jpg);
		background-position-y: top; 
	}
}
@media screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 800px), screen and (min-resolution: 192dpi) and (max-width: 800px) { 
  header {
		background-image: url(../images/1600/lazarus.jpg);
	}
	#need {
		background-image: url(../images/1600/cart.jpg);
	}
	#sanitation {
		background-image: url(../images/1600/tank.jpg);
	}
	#agriculture {
		background-image: url(../images/1600/garden.jpg);
		background-position-y: top; 
	}
	#building {
		background-image: url(../images/1600/building.jpg);
	}
	#community {
		background-image: url(../images/1600/buckets.jpg);
		background-position-y: top; 
	}
}
@media screen and (max-width: 600px) {
	section, header {
		flex-direction: column;
		justify-content: flex-end;
		background-image: none !important;
	}
	section:before, header:before {
		flex: 1;
		content: "";
		background-size: cover;
		background-position: center;
	}
	.text {
		flex-basis: 100%;
		background-color: rgb(32,61,76);
	}
	header .text {
		flex-basis: inherit;
		flex-direction: row;
	}
	.logo {
		flex-basis: 30%;
	}
	header:before {
		background-image: url(../images/800/lazarus.jpg);
	}
	#need:before {
		background-image: url(../images/800/cart.jpg);
	}
	#sanitation:before {
		background-image: url(../images/800/tank.jpg);
	}
	#agriculture:before {
		background-image: url(../images/800/garden.jpg);
	}
	#building:before {
		background-image: url(../images/800/building.jpg);
	}
	#community:before {
		background-image: url(../images/800/buckets2.jpg);
	}
}
@media screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 600px), screen and (min-resolution: 192dpi) and (max-width: 600px) {
	header:before {
		background-image: url(../images/1600/lazarus.jpg);
	}
	#need:before {
		background-image: url(../images/1600/cart.jpg);
	}
	#sanitation:before {
		background-image: url(../images/1600/tank.jpg);
	}
	#agriculture:before {
		background-image: url(../images/1600/garden.jpg);
	}
	#building:before {
		background-image: url(../images/1600/building.jpg);
	}
	#community:before {
		background-image: url(../images/1600/buckets2.jpg);
	}
}
@media screen and (max-width: 400px) { 
  header:before {
		background-image: url(../images/500/lazarus.jpg);
	}
	#need:before {
		background-image: url(../images/500/cart.jpg);
	}
	#sanitation:before {
		background-image: url(../images/500/tank.jpg);
	}
	#agriculture:before {
		background-image: url(../images/500/garden.jpg);
	}
	#building:before {
		background-image: url(../images/500/building.jpg);
	}
	#community:before {
		background-image: url(../images/500/buckets.jpg);
	}
}
@media (-webkit-min-device-pixel-ratio: 2) and (max-width: 400px), (min-resolution: 192dpi) and (max-width: 400px) { 
  header:before {
		background-image: url(../images/800/lazarus.jpg);
	}
	#need:before {
		background-image: url(../images/800/cart.jpg);
	}
	#sanitation:before {
		background-image: url(../images/800/tank.jpg);
	}
	#agriculture:before {
		background-image: url(../images/800/garden.jpg);
	}
	#building:before {
		background-image: url(../images/800/building.jpg);
	}
	#community:before {
		background-image: url(../images/800/buckets2.jpg);
	}
}